 /* ••• Default settings ••• */
html
{
    scroll-behavior: smooth; 
}

*
{
    scroll-behavior: smooth; 
	font-family: Arial;
}

body
{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #1f1f1f;
}
/* ••• Default settings END ••• */

/* ••• Fonts adding ••• */

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Light-Italic";
    src: url("fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "RobotoCondensed-Regular";
    src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Italic";
    src: url("fonts/Roboto-Italic.ttf") format("truetype");
}

/* ••• Fonts adding END ••• */

/* ••• Custom scrollbar ••• */

::-webkit-scrollbar 
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb 
{
    box-shadow: inset 0 0 1px 1px #5C6670;
    background: linear-gradient(#e8e8e8, #cecece);
    background: -o-linear-gradient(#e8e8e8, #cecece);
    background: -webkit-linear-gradient(#e8e8e8, #cecece);
}

::-webkit-scrollbar-track 
{
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover 
{
    background: linear-gradient(#ffffff, #e6e6e6);
    background: -o-linear-gradient(#ffffff, #e6e6e6);
    background: -webkit-linear-gradient(#ffffff, #e6e6e6);
}

::-webkit-scrollbar-button:vertical 
{
    background: #e8e8e8;
    border: 1px solid #5C6670;
    background-size: 16px 10px;
    background-repeat: no-repeat;
    background-position: -2.5px 2px;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    background-image: url(img/web-stuff/arrow-up-scroll.png);
}

::-webkit-scrollbar-button:vertical:hover
{
    background: #ffffff;
    border: 1px solid #5C6670;
    background-size: 16px 10px;
    background-repeat: no-repeat;
    background-position: -2.5px 2px;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    background-image: url(img/web-stuff/arrow-up-scroll.png);
}

::-webkit-scrollbar-button:vertical:increment 
{
    background: #e8e8e8;
    border: 1px solid #5C6670;
    background-size: 16px 10px;
    background-repeat: no-repeat;
    background-position: -2.5px 2px;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    background-image: url(img/web-stuff/arrow-down-scroll.png);
}

::-webkit-scrollbar-button:vertical:increment:hover
{
    background: #ffffff;
    border: 1px solid #5C6670;
    background-size: 16px 10px;
    background-repeat: no-repeat;
    background-position: -2.5px 2px;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    background-image: url(img/web-stuff/arrow-down-scroll.png);
}

/* ••• Custom scrollbar END ••• */

/* ••• To top button ••• */

#top-button
{
    left: 30px;
    bottom: 30px;
    padding: 24px;
    outline: none;
    display: none;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    background-size: 25px;
    border: 2px solid #292929;
    background-color: #ffffff;
    background-repeat: no-repeat;
    animation: arrow-animation 1s;
    background-position: 12px 12px;
    box-shadow: 6px 5px 20px 0px #000000;
    -webkit-box-shadow: 6px 5px 20px 0px #000000;
    background-image: url(img/web-stuff/arrow-up.png);
}

#top-button:hover
{
    left: 30px;
    bottom: 30px;
    padding: 24px;
    transition: 0.5s;
    background-size: 25px;
    border: 2px solid white;
    background-color: #292929;
    background-position: 12px 12px;
    background-image: url(img/web-stuff/arrow-up-white.png);
}

@keyframes arrow-animation
{
    0%
    {
        left: 0;
        bottom: 0;
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

/* ••• To top button END ••• */

/* ••• Root ••• */

:root
{
    --root-name: something here;
}

/* ••• Root END ••• */

/* ••• Header ••• */

.tittle
{
    left: 10%;
    width: 80%;
    display: block;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    background-color: #191919;
    font-family: roboto-bold;
    border-left: 2px #bbb solid;
    border-right: 2px #bbb solid;
    border-bottom: 2px #bbb solid;
}

.tittle:hover
{
    border-left: 2px #eee solid;
    border-right: 2px #eee solid;
    border-bottom: 2px #eee solid;
}

.tittle h1
{
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}

.tittle h2
{
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 100;
}

.tittle h2 a
{
    color: #fff;
    text-decoration: none;
}

.tittle h2 a:hover
{
    text-decoration: underline;
}

/* ••• Header END ••• */

/* ••• Book parts section ••• */

.book-parts
{
    left: 10%;
    color: #fff;
    width: 80%;
    display: block;
    margin-top: 50px;
    padding: 40px 0px;
    position: relative;
    border: 2px #bbb solid;
    background-color: #191919;
    font-family: roboto-bold;
}

.book-parts:hover
{
    border: 2px #eee solid;
}

.book-parts a
{
    color: #fff;
    margin: 15px 0px;
    display: block;
    position: relative;
    text-decoration: none;
}

.book-part-li a
{
    margin-top: 5px;
    margin-bottom: 0;
}

.book-parts a:hover
{
    text-decoration: underline;
}

/* ••• Book parts section END ••• */

/* ••• Глава 1 ••• */

.part-1
{
    left: 10%;
    color: #fff;
    width: 80%;
    display: block;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 0px;
    position: relative;
    border: 2px #bbb solid;
    background-color: #191919;
    font-family: roboto-bold;
}

.part-1:hover
{
    border: 2px #eee solid;
}

.part-1 h1
{
    font-size: 24px;
    text-align: center;
}
.part-1 h1:first-child
{
    margin-bottom: 0px;
}

.part-1 h2 
{
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
}

.part-1 p 
{
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 20px;
}

.part-1 p.non-a
{
    text-indent: 0px;
}

.part-1 span
{
    color: #8bc34a;
    cursor: default;
}

.part-1 span:before
{
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 10px;
    display: block;
    position: fixed;
    transition: 300ms;
    visibility: hidden;
    text-align: center;
    padding-right: 35px;
    font-family: roboto-bold;
    background-color: #000000;
    border-top: 2px #8bc34a solid;
    border-right: 2px #8bc34a solid;
    border-radius: 0px 10px 0px 0px;
    content: "Это слово возможно будет заменено";
}

.part-1 span:hover:before
{
    
    opacity: 1;
    transition: 300ms;
    visibility: visible;
}


.part-1 span.person
{
    color: #009688;
    cursor: default;
}

.part-1 span.person:before
{
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 10px;
    display: block;
    position: fixed;
    transition: 300ms;
    visibility: hidden;
    text-align: center;
    content: "Персонаж";
    background-color: #000000;
    border-top: 2px #009688 solid;
    border-right: 2px #009688 solid;
    border-radius: 4px 4px 0px 0px;
}

.part-1 span.person:hover:before
{
    
    opacity: 1;
    transition: 300ms;
    visibility: visible;
}

.part-1 span.main-ch
{
    color: #e91e63;
    cursor: default;
}

.part-1 span.main-ch:before
{
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 10px;
    display: block;
    position: fixed;
    transition: 300ms;
    visibility: hidden;
    text-align: center;
    content: "Главный герой";
    background-color: #000000;
    border-top: 2px #e91e63 solid;
    border-right: 2px #e91e63 solid;
    border-radius: 4px 4px 0px 0px;
}

.part-1 span.main-ch:hover:before
{
    opacity: 1;
    transition: 300ms;
    visibility: visible;
}

span.need-name
{
    cursor: default;
    animation: span_anim 1s infinite;
}

span.need-name:before
{
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 10px;
    display: block;
    position: fixed;
    font-size: 16px;
    transition: 300ms;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
    content: "Нужно название";
    background-color: #000000;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
    border-radius: 4px 4px 0px 0px;
    z-index: 9999;
    animation: span_anim 1s infinite;
}

span.need-name:hover:before
{
    opacity: 1;
    transition: 300ms;
    visibility: visible;
    animation: span_anim 1s infinite;
}

@keyframes span_anim
{
    0%
    {
        color: #4caf50;
        border-color: #4caf50;
    }

    25%
    {
        color: #cddc39;
        border-color: #cddc39; 
    }
    50%
    {
        color: #ffeb3b;
        border-color: #ffeb3b;
    }
    75%
    {
        color: #cddc39;
        border-color: #cddc39; 
    }
    100%
    {
        color: #4caf50;
        border-color: #4caf50;
    }

}
/* ••• Глава 1 END ••• */